*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#link_btn{
  width: 80vw;
  margin: 3em auto;
   display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}
#link_btn a, link {
  display: block;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem;
  font-weight: 500;
  background: #EAECF0;
  color: black;
  width: 100%;
  margin: 1.5em auto;
  border-radius: 1em;
  transition: all 0.5s ease;
}
em {
  font-size: 0.85em;
}
#link_btn a:hover {
  background-color: rgb(19, 17, 17);
  color: #eee;
}
hr {
  margin-top: 5em;
  width: 80vw;
}
.socials{
  display: flex;
  justify-content: center;
}

#slack, #github{
  margin: 0 .5em;
  
}
@media screen and (max-width: 700px) {
  hr {
    margin: 2em auto;
    width: 80vw;
  }
  #link_btn a {
    font-size: 1em;
    padding: 1.35rem;
  }
}
