#footer{
    width: 100vw;
    margin: 1em auto;
    display: flex;
    justify-content:space-between;
    max-width: 80vw;
}
#footer a{
    text-align: center;
    margin: 2em auto 0;
    
}

@media screen and (max-width:700px){
    #footer{
        display: block;
    }
    
    #footer a img{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    }
}